<div class="source-header">
  <h3>Auswahl Wochen</h3>
</div>
<div class="example-container source-list">

  <div
    #todoList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="[doneList]"
    [cdkDropListData]="weeks"
    cdkDropList
    class="example-list">
    @for (item of weeks; track item) {
      <div class="example-box" cdkDrag>{{ item }}
        <app-add-week [mode]="'add'" [week]="item" (onAction)="add($event)"></app-add-week>
      </div>
    }
  </div>
</div>

<div class="target-header">
  <h3>Gewählte Wochen</h3>
</div>

<div class="example-container target-list">

  <div
    #doneList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="[todoList]"
    [cdkDropListData]="weeksSelected"
    cdkDropList
    class="example-list">
    @for (item of weeksSelected; track item) {
      <div class="example-box" cdkDrag>{{ item }}
        @if (weeksSelected.indexOf(item) > 0) {
          <app-add-week [mode]="'arrow_upward'" [week]="item" (onAction)="up($event)"></app-add-week>
        }
        <app-add-week [mode]="'remove'" [week]="item" (onAction)="remove($event)"></app-add-week>
      </div>
    }
  </div>
</div>
