<div class="source-header">
  <h3>Auswahl Wochen</h3>
</div>
<div class="example-container source-list">

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    @for (item of todo; track item) {
      <div class="example-box" cdkDrag>{{item}}
        <app-add-week [mode]="'add'" [week]="item" (onAction)="add($event)"></app-add-week>
      </div>
    }
  </div>
</div>

<div class="target-header">
  <h3>Gewählte Wochen</h3>
</div>

<div class="example-container target-list">

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    @for (item of done; track item) {
      <div class="example-box" cdkDrag>{{item}}
        @if (done.indexOf(item) > 0) {
          <app-add-week [mode]="'arrow_upward'" [week]="item" (onAction)="up($event)"></app-add-week>
        }
        <app-add-week [mode]="'remove'" [week]="item" (onAction)="remove($event)"></app-add-week>
      </div>
    }
  </div>
</div>
