<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile (click)="onRemove()" [ngClass]="{'active': amount > 1}" class="tile-button" colspan="2">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove"></mat-icon>
  </mat-grid-tile>
  <input type="number" [value]="amount">
  <mat-grid-tile>{{ amount }}</mat-grid-tile>
  <mat-grid-tile (click)="onAdd()" [ngClass]="{'active': amount < 3}" class="tile-button" colspan="2">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
  </mat-grid-tile>
</mat-grid-list>
